html {
  background-color: black; 
  min-height: 100%; 
  color: white;
}

body {
  margin: 0; 
  padding: 0;
}


/*
Screen size
*/

.Banner{

  background-color: darkorange;

  display: flex;
  justify-content: space-between;
}

.banner_item{
  
  width: 100px;
  height: 100px;

}



.Navigator{
  background-color: darkblue;
  display: flex;  

}

.navi_item{
  background-color: #f1f1f1;
  
  margin: 10px;
  padding: 20px;
  
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;

  text-decoration: none;
}